*:before,
*:after{
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  color: white;
}

form{
  height: 100px;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.send-message {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

